@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --green: #bac34e;
  --black: #222;
  ---white: #fff;
  ---light-color: #666;
  ---light-bg: #f3f3f3;
  ---border: 0.1rem solid rgba(0, 0, 0, 0.1);
  ---box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
section {
  padding: 3rem 9%;
}

.heading {
  background: url(../../assests/image/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}

.heading h1 {
  color: var(--black);
  font-size: 4rem;
}

.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: var(---light-color);
}
.heading p a {
  color: var(--black);
}
.heading p a:hover {
  color: var(--green);
}
