@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --green: #bac34e;
  --black: #222;
  ---white: #fff;
  ---light-color: #666;
  ---light-bg: #f3f3f3;
  ---border: 0.1rem solid rgba(0, 0, 0, 0.1);
  ---box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}

@keyframes fadeLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.home {
  padding-top: 14rem;
  background: url(../../assests/image/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.home .slides-container .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}
.home .slides-container .slide.active {
  display: flex;
}
.home .slides-container .slide .content {
  flex: 1 1 40rem;
  animation: fadeLeft 0.4s linear 0.4s backwards;
}
.home .slides-container .slide .content span {
  color: var(---light-color);
  font-size: 2.5rem;
}
.home .slides-container .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  padding: 0.5rem 0;
}
.home .slides-container .slide .image {
  width: 100%;
  flex: 1 1 40rem;
  margin: 3rem 0;
}
.home .slides-container .slide .image img {
  width: 100%;
  animation: fadeUp 0.4s linear;
}

.home #next-slide,
#prev-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: var(---box-shadow);
  text-align: center;
  background: var(---white);
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
  clip-path: circle();
}
.home #next-slide:hover,
#prev-slide:hover {
  background: var(--green);
  color: var(---white);
}
.home #prev-slide {
  left: 2rem;
}

.home #next-slide {
  right: 2rem;
}

/* @media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .home #next-slide,
  .home #prev-slide {
    transform: translateY(0);
    top: 88%;
  }
  .home #prev-slide {
    left: auto;
    right: 8rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slides-container .slide .content h3 {
    font-size: 5rem;
  }
}
