@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --green: #bac34e;
  --black: #222;
  ---white: #fff;
  ---light-color: #666;
  ---light-bg: #f3f3f3;
  ---border: 0.1rem solid rgba(0, 0, 0, 0.1);
  ---box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: var(--green);
  color: var(---white);
  font-size: 1.7rem;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: var(--black);
}
.forget-password {
  position: absolute;
  top: -700%;
  right: 40rem;
  background: var(---white);
  border-radius: 0.5rem;
  box-shadow: var(---box-shadow);
  width: 42rem;
  padding: 2rem;
}
.forget-password.active {
  top: 200%;
  transition: 0.4s linear;
}
.forget-password span {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.forget-password span h3 {
  color: var(--black);
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.7rem;
  margin-left: 10rem;
}
.forget-password span i {
  color: var(--black);
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.7rem;
  transition: transform 0.4s;
}
.forget-password span i:hover {
  color: var(--green);
  cursor: pointer;
  transform: scale(1.2);
  border-radius: 50%;
}
.forget-password .box {
  margin: 2rem 0;
  border: var(---border);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: var(--black);
  text-transform: none;
  width: 100%;
}

.forget-password .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem 0;
}
.forget-password .remember label {
  font-size: 1.5rem;
  color: var(---light-color);
  cursor: pointer;
}

.forget-password .btn {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
}
.forget-password p {
  color: var(---light-color);
  padding-top: 1rem;
  font-size: 1.4rem;
}

.forget-password p span {
  color: var(--green);
  margin-left: 1rem;
}
.forget-password p span:hover {
  text-decoration: underline;
  cursor: pointer;
}
