.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: var(--background);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[data-theme="dark"] {
  --background: #000;
  ---light-color: #fff;
  --text-secondary: #8e05c2;
  --accent: #8e05c2;
  --border: #808080;
  --form-bg: #191919;
  --box-shadow: rgba(0, 56, 185, 0.788);
  --action-color: rgb(98, 11, 168);
  --black: #fff;
  --main-color: #222;
  ---light-bg: #000;
}
